*{
     box-sizing: border-box;
 }

@font-face {
    font-family: 'Fraunces';
    font:swap;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v22-latin-regular.woff2') format('woff2'), 
         url('../fonts/fraunces-v22-latin-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Fraunces';
    font:swap;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v22-latin-900.woff2') format('woff2'), 
         url('../fonts/fraunces-v22-latin-900.woff') format('woff');
  }

  @font-face {
     font-family: 'Barlow';
     font: swap;
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'), 
          url('../fonts/barlow-v12-latin-700.woff') format('woff'); 
   }

  @font-face {
    font-family: 'Barlow';
    font: swap;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), 
         url('../fonts/barlow-v12-latin-regular.woff') format('woff'); 
  }

  .visual-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1;
     padding: 0;
     overflow: hidden;
     border: 0;
     clip: rect(0 0 0 0);
 }

  body{
     margin: 0;
     padding: 0;
     font-size: 16px;
     overflow-x: hidden;
     background: #F2F2F2;
 }
 
 .container {
     max-width: 1240px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 20px;
     padding-right: 20px;
 }
 
 img{
     vertical-align: middle;
 }


 /*HEADER*/

 header {
}

.header__section {
}

.header__container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 45px;
     margin-bottom: 45px;
}

.header__logo-wrapper {
}

.header__logo-link {
}

.header__logo-img {
}

.header__nav {
}

.header__list {
     width: 283px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     list-style-type: none;
     margin: 0;
     padding: 0;
}

.header__item {
}

.header__nav-link {
     font-family: 'Barlow';
     text-decoration: none;
     font-style: normal;
     font-weight: 700;
     font-size: 12px;
     line-height: 15px;
     color: #83888F;
     letter-spacing: 0.923077px;
     text-transform: uppercase;
}


/*MAIN*/

.main {
}



/*HERO*/

.hero__section {
     margin-bottom: 136px;
}

.hero__container {
     height: 600px;
     background-image: url("./../image/header-bgi.jpg");
     background-repeat: no-repeat;
     padding: 177px 702px 0 85px;
     border-radius: 10px;
}

.hero__right {
     width: 493px;
}

.hero__heading {
     font-family: 'Fraunces';
     font-style: normal;
     font-weight: 900;
     font-size: 72px;
     line-height: 72px;
     color: #FEFCF7;
     margin: 0;
     padding: 0;
     margin-bottom: 30px;
}

.hero__text {
     width: 445px;
     font-family: 'Barlow';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #FEFCF7;
     mix-blend-mode: normal;
     opacity: 0.8;
     margin: 0;
     padding: 0;
     margin-bottom: 55px;
}

.hero__link-wrapper{
     display: block;
}

.side-btn {
     font-family: 'Fraunces';
     text-decoration: none;
     font-style: normal;
     font-weight: 900;
     font-size: 18px;
     line-height: 25px;
     text-align: center;
     color: #FEFCF7;
     background: #0E8784;
     border-radius: 6px;
     padding: 15px 30px;
}



/*COLLECTION*/

.collection__section {
     margin-bottom: 200px;
}

.collection__container{
     padding-left: 64.5px;
     padding-right: 64.5px;
 }

.collection__bgi-img {
}

.collection__list-wrapper{
     background-image: url("./../image/bgi-text.png");
     background-color: #F2F2F2;
     background-repeat: no-repeat;
     background-size: contain;
     padding-top: 120px;
}

.collection__list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style-type: none;
     margin: 0;
     padding: 0;
}

.collection__item {
}

.collection__wrapper{
     width: 255px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.collection__img{
     margin-bottom: 70px;
}

.collection__heading {
     font-family: 'Fraunces';
     font-style: normal;
     font-weight: 900;
     font-size: 24px;
     line-height: 32px;
     color: #333D4B;
     margin: 0;
     padding: 0;
     margin-bottom: 25px;
}

.collection__text {
     font-family: 'Barlow';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     text-align: center;
     color: #333D4B;
     margin: 0;
     padding: 0;
}


/*CHOOSE US*/

.choose {
     margin-bottom: 350px;
}

.choose__container {
     width: 1240px;
     position: relative;
}

.choose__wrapper{
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 1;
     padding-top: 100px;
     padding-bottom: 317px;
     color: #FEFCF7;
     background-color: #2c343e;
     border-radius: 10px;
}

.choose__heading {
     font-family: 'Fraunces';
     font-style: normal;
     font-weight: 900;
     font-size: 40px;
     line-height: 48px;
     color: #FEFCF7;
     margin: 0;
     padding: 0;
     margin-bottom: 30px;
}


.choose__text {
     width: 540px;
     font-family: 'Barlow';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #FEFCF7;
     text-align: center;
     mix-blend-mode: normal;
     opacity: 0.8;
     margin: 0;
     padding: 0;
}

.choose__list {
     width: 1110px;
     position: absolute;
     z-index: 1;
     width: 100%;
     bottom: -151px;
     display: flex;
     justify-content: center;
     list-style-type: none;
     margin: 0;
     padding: 0;
}

.choose__item {
     background: #0E8784;
     border-radius: 8px;
     margin-right: 30px;
}

.choose__item:nth-child(1) {
     background-image: url("./../image/coffee-bean.svg");
     background-repeat: no-repeat;
     background-position-x: center;
     background-position-y: 72px;
}

.choose__item:nth-child(2) {
     background-image: url("./../image/prize.svg");
     background-repeat: no-repeat;
     background-position-x: center;
     background-position-y: 72px;
}

.choose__item:nth-child(3) {
     background-image: url("./../image/car.svg");
     background-repeat: no-repeat;
     background-position-x: center;
     background-position-y: 83px;
}

.choose__item:last-child {
     margin: 0;
}

.choose__item-wrapper{
     padding: 200px 48px 48px 48px;
}

.choose__item-heading {
     font-family: 'Fraunces';
     font-style: normal;
     font-weight: 900;
     font-size: 24px;
     line-height: 32px;
     text-align: center;
     color: #FEFCF7;
     margin: 0;
     padding: 0;
}

.choose__item-text {
     width: 255px;
     font-family: 'Barlow';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     text-align: center;
     color: #FEFCF7;
     margin: 0;
     padding: 0;
}



/*HOW IT WORKS*/

.howwork__section {
     margin-bottom: 200px;
}

.howwork__container {
     margin-right: 85px;
     margin-left: 85px;
}

.howwork__heading {
     font-family: 'Fraunces';
     font-style: normal;
     font-weight: 900;
     font-size: 24px;
     line-height: 32px;
     color: #83888F;
     margin: 0;
     padding: 0;
     margin-bottom: 80px;
}

.howwork__list {
     display: flex;
     align-items: flex-start;
     list-style-type: none;
     margin: 0;
     padding: 0;
     margin-bottom: 65px;
}

.howwork__item {
     width: 380px;
}

.howwork__step-img {
     position: relative;
     margin-bottom: 67px;
}

.howwork__step-img::before {
     content: "";
     top: 0;
     display: inline-block;
     width: 31px;
     height: 31px;
     border: 2px solid #0E8784;
     background: #F2F2F2;
     border-radius: 50%;
     z-index: 1;
}

.howwork__step-img::after {
     content: "";
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     display: inline-block;
     width: 100%;
     height: 2px;
     background-color: #FDD6BA;
}

.howwork__item:last-child .howwork__step-img::after {
     display: none;
}

.howwork__item-wrapper {
     padding-right: 95px;
}

.howwork__item-span {
     display: inline-block;
     font-family: 'Fraunces';
     font-style: normal;
     font-weight: 900;
     font-size: 72px;
     line-height: 72px;
     color: #FDD6BA;
     margin-bottom: 40px;
}

.howwork__item-heading {
     width: 255px;
     font-family: 'Fraunces';
     font-style: normal;
     font-weight: 900;
     font-size: 32px;
     line-height: 36px;
     color: #333D4B;
     margin: 0;
     padding: 0;
     margin-bottom: 40px;
}

.howwork__item-text {
     font-family: 'Barlow';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #333D4B;
     margin: 0;
     padding: 0;
}

.side-btn {
}

.howwork__link {
}




/*FOOTER*/

.footer {
}

.footer__section {
}

.footer__container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #2C343E;
     padding: 47px 85px;
     margin-bottom: 88px;
}

.footer__left {
     display: flex;
     align-items: center;
}

.header__logo-link {
}

.footer__logo-img {
}

.footer__nav {
}

.footer__list {
     width: 283px;
     display: flex;
     align-items: center;
     list-style-type: none;
     margin: 0;
     padding: 0;
     margin-left: 100px;
}

.footer__item:not(:last-child) {
     margin-right: 33px;
}

.footer__left-link {
     text-decoration: none;
     font-family: 'Barlow';
     font-style: normal;
     font-weight: 700;
     font-size: 12px;
     line-height: 15px;
     text-transform: uppercase;
     color: #83888F;
}

.footer__right {
}

.footer__right-link {
     text-decoration: none;
}

.footer__right-link:not(:last-child) {
     margin-right: 24px;
}

.footer__right-img {
}