.header {

    &__section {
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    &__logo-wrapper {
    }

    &__logo-link {
    }

    &__logo-img {
    }

    &__nav {
    }

    &__list {
        width: 283px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__item {
    }

    &__nav-link {
    }
}
.container {
}
.main {
}
.hero {

    &__section {
    }

    &__container {
    }

    &__right {
    }

    &__heading {
    }

    &__text {
    }

    &__link-wrapper {
    }

    &__link {
    }
}
.side-btn {
}
.collection {

    &__section {
    }

    &__container {
    }

    &__list-wrapper {
    }

    &__bgi-img {
    }

    &__list {
    }

    &__item {
    }

    &__img {
    }

    &__wrapper {
    }

    &__heading {
    }

    &__text {
    }
}
.choose {

    &__container {
    }

    &__wrapper {
    }

    &__heading {
    }

    &__text {
    }

    &__list {
    }

    &__item {
    }

    &__item-wrapper {
    }

    &__item-heading {
    }

    &__item-text {
    }
}
.howwork {

    &__section {
    }

    &__container {
    }

    &__heading {
    }

    &__list {
    }

    &__item {
    }

    &__step-img {
    }

    &__item-wrapper {
    }

    &__item-span {
    }

    &__item-heading {
    }

    &__item-text {
    }

    &__link {
    }
}
.footer {

    &__section {
    }

    &__container {
    }

    &__left {
    }

    &__logo-img {
    }

    &__nav {
    }

    &__list {
    }

    &__item {
    }

    &__left-link {
    }

    &__right {
    }

    &__right-link {
    }

    &__right-img {
    }
}
